* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #5cdb95;
    color: #05386b;
    font-family: "Birch Std", sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    letter-spacing: 10px;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-banner {
    margin: 2% auto;
    text-align: center;
    font-size: 2rem;
}

.menu {
    min-height: 125px;
    background: #379683;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu--buttons {
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 75%;
}

.button {
    display: inline-block;
    height: 50px;
    width: 75%;
    text-align: center;
    border-radius: 5px;
    margin: 1%;
    background: #05386b;
    color: #ecf0f1;
    font-family: "Birch Std";
    letter-spacing: 5px; ;
    font-weight: 500;
    font-size: 2em;
}

.button--get {
    display: none;
}

.show {
    display: flex;
}

.menu-searchbar {
    min-width: 75%;
    text-align: center;
    margin: 2% auto;
}

.menu--input {
    margin: 2% 0 auto;
    border: 5px solid #05386b;
    padding: 15px;
    width: 75%;
    background: #379683;
    color: #ecf0f1;
    transition: 0.5s ease-in-out;
}

::-webkit-input-placeholder {
    color: #ecf0f1;
}

.content {
    margin: 2% auto;
    text-align: center;
    background: #8EE4AF;
    width: auto;
    white-space: nowrap;
}

.content p {
    font-size: 2rem;
    margin: 1%;
    letter-spacing: 10px;
    padding: 15px 30px;
    text-align: left;
    color: #05386b;
}

.content p:first-letter {
    font-weight: 900;
    color: #05386b;
}

.footer {
    position: relative;
    bottom: 0;
    background: chocolate;
    font-size: 2rem;
    width: 100%;
}

@media screen and (min-width: 968px) {
    .button {
        max-width: 30%;
    }
}






