* {
    box-sizing: border-box;
    font-family: "Swis721 LtEx BT", sans-serif;
}

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    background: #5cdb95;
    color: #05386b;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    letter-spacing: 10px;
    overflow: auto;
    line-height: unset;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-banner {
    margin: 1% auto;
    text-align: center;
    font-size: 2rem;
    font-family: "Swis721 LtEx BT", sans-serif;
}

.menu {
    min-height: 125px;
    background: #379683;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu--buttons {
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 75%;
}

.button {
    display: inline-block;
    height: 50px;
    width: 75%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin: 1%;
    background: #05386b;
    color: #ecf0f1;
    letter-spacing: 5px; ;
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.menu-searchbar {
    margin: 2% auto;
    text-align: center;
}

.menu-searchbar:focus {
    outline: 0;
}

.input {
    margin: 0;
    float: left;
    display: inline-block;
    height: 25px;
    background: #379683;
    color: #ecf0f1;
    border: 3px solid #05386b;
    border-left: 0;
    padding: 20px;
    position: relative;
}

.menu--value {
    text-transform: uppercase;
    border-left: 3px solid #05386b;
    background: #5cdb95;
    color: #05386b;
    font-weight: 500;
}

::-webkit-input-placeholder {
    color: #05386b;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:focus, input:focus {
    outline: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #5cdb95 inset;
}

.content {
    width: auto;
    white-space: nowrap;
    margin: 0 auto;
}

.content p,
.full-codes-list p {
    font-size: 2rem;
    letter-spacing: 10px;
    padding: 15px 0;
    color: #05386b;
    animation: fadeIn 1s;
    text-align: left;
}

.full-codes-list p {
    text-align: center;
}

@keyframes fadeIn {
    from { opacity: 0}
    to { opacity: 1}
}

.content p:first-letter {
    font-weight: 900;
    color: #05386b;
}

.footer {
    position: relative;
    bottom: 0;
    background: #379683;
    width: 100%;
    padding: 15px;
}

.footer-item {
    width: 50%;
}

.footer-header {
    color: #05386b;
    font-size: 1em;
    font-weight: 700;
    float: left;
}

.footer-icons {
    float: right;
    font-size: 1rem;
}

a {
    float: right;
    display: inline-block;
    color: #05386b;
    width: 15%;
}

span:hover {
    transform: scale(1.3);
}

@media screen and (min-width: 968px) {
    .button {
        max-width: 35%;
    }
}
