/** {*/
    /*outline: 1px solid red;*/
/*}*/

body,
html {
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: #95a5a6;
}

.item {
    flex: 1;
}

.top-banner {
    text-align: center;
    margin: 1%;
}

h1 {
    font-size: 2rem;
}

.menu {
    background-color: #bdc3c7;
    position: relative;
}

.menu--buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1% 0;
    min-width: 50%;
    max-width: 85%;
}

.button {
    display: inline-block;
    padding: 2% 3%;
    margin: 2% 2%;
    border-radius: 15px;
    width: 12rem;
}

.menu-searchbar {
    text-align: center;
    transition: 1s;
    margin: 2% auto;
}

.menu-searchbar.show {
    opacity: 1;
}

.menu--input {
    width: 200px;
    border-radius: 10px;
    padding: 25px;
    font-size: 2rem;
}

.content {
    margin: 0 auto;
    max-width: 30%;
    background: darkgrey;
}

.content p {
    font-size: 2rem;
    padding: 1rem;
}







